<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/abhayverma.07/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/abhay07v/"><i class="fa-brands fa-linkedin"></i></a>
        </div>

        <div class="f-info-brand">&copy; HorizonHub Private Limited</div>

        <div class="f-info-links">
            <a href="/listings">About Us</a>
            <a href="/listings">Contact Us</a>
            <a href="/listings">Terms of Use</a>
            <a href="/listings">Privacy Policy</a>
        </div>
    </div>
</footer>
